@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css');

html {
  scroll-behavior: smooth;
}

@layer base {
  body {
    @apply text-gray-800 antialiased;
  }
}

@layer components {
  .section-padding {
    @apply px-6 py-20 md:px-8 lg:px-16 lg:py-28;
  }
}
